body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	font-family: 'Arial', serif;
}

.nav {
	background-color: #000000;
	color: #ffffff;
	list-style: none;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
	padding: 20px 0 20px 0;
	padding-right: 35px;
}

.nav > li {
	display: inline-block;
	padding: 0 15px 0 15px;
}

.nav >li > a {
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

.logo {
	color: #ffffff;
	float: left;
	padding-left: 35px;
	font-size: 12px;
	font-weight: bold;
}

.description {
	background-color: #000000;
	color: #ffffff;
	text-align: left;
	font-size: 12px;
	padding-right: 35px;
	padding-left: 35px;
	float: left;
}

.poster {
	text-align: left;
	width: 10%;
	height: 10%;
}

img {
	width: 100%;
	height: auto;
	padding-left: 25px;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.psychosis {
	width: 25%;
	height: auto;
}
