/*.warp-logo {
  margin-left: 4px;
}
*/

.maingrid {
  margin-right: 7px;
}
.left {
display: flex;
flex-direction: column;
height: 60VH;
justify-content: space-between;
padding: 0px 30px;
padding-bottom: 5px;
}

.left-top {
    line-height: 1.4rem;
}


.right {
display: flex;
flex-direction: column;
height: 60VH;
justify-content: space-between;
border-left: 7px solid white;
padding: 0px 30px;
}

.right-middle {
flex-grow: 1.5;
}

.tracklist {
text-align: left;
}

body.mobile [split-responsive] {
      height: 100VH;
 }


@media only screen and (max-width: 600px) {
  body.mobile [split-responsive] {
      height: 100VH;
 }
 .eye {
 width: 90px !important;
 }
 
 }
  
  .tracklist {
font-size: 1.5rem;
}

}
.testing {
    margin-left: -20px;
    filter: invert(100);
}

button {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #CFD76F;
}

a {
    text-decoration: underline;
}